## Import specific functions
importFrom(MASS, mvrnorm)
importFrom(coda, mcmc)

## Import package
import(stats)

## Export regular functions (no points functions)
export(communitySimul,hmscProbit,corRandomEff)

## Export "as." functions
export(as.HMSCdata,as.HMSCparam,as.HMSCprior,as.mcmc)
